* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    text-align: center;
    color: white;
    background-color: #4caf50;
    padding: 50px;
}
.title {
    margin-bottom: 40px;
}
nav {
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 8px;
}
a {
    text-decoration: none;
    color: inherit;
    margin-left: 10px;
}
figure {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
img {
    flex: 0 0 20%;
    margin-right: 10px;
    max-width: 50%;
    width: 150px;
}
.info_img {
    flex: 0 0 50%;
}
.legenda_img {
    margin-bottom: 100px;
}
table {
    border-collapse: collapse;
}
thead {
    background-color:rgb(241, 241, 241);
}
th, td {
    border: 1px solid rgb(180, 180, 180);
    padding: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}
#enviar {
    background-color: #4caf50;
    color: white;
    border: none;
    margin: auto;
}
footer {
    background-color: #4caf50;    padding: 20px;
    text-align: center;
    color: white;
}